body {
	background: #F6F6F6;
	font-family: sans-serif;
	font-weight: 100;
	text-align: center;
	margin: 0;
}

.container {
	width: 75%;
	margin: 0 auto;
}

@media screen and (max-width: 900px) {
	.container {
		width: 85%;
	}
}

.align-left {
	text-align: left;
}

.drop-shadow {
	padding: 20px 0 20px 0;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);			
}

h1 {
	font-weight: 100;
	font-size: 30px;
}

h2 {
	font-weight: 100;
	text-align: left;
}

a:link {
	text-decoration: none;
}

.centered {
	text-align: center;
}

/* A full width div that contains all statistics and their descriptions. */
#holds-stats {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

/* Holds number of deaths and the caption underneath it. */
.stat {
	flex-basis: 200px;
	margin: 10px 40px;
}

/* Big number, that counts the number of deaths for each category. */
.number {
	font-size: 40px;
}

/* The caption under the number of deaths, explaining which group it's for. */
.under-number {
	margin: 10px 0;
}
